
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Accomodation finder</title>
  <link rel="stylesheet" href="/css/site.css">
</head>

<body background="/images/image.jpg">
<pre>
<font size="6" color="red" face = "Comic sans MS" > @CCOMMODATION</font> <font size="6" color="white" face="comic sans MS">FINDER</font>                                                        
                                                                              
</pre>

<nav>
  <div class="nav-responsive">
    <a href="#">Home</a>
    <a href="#" >Hotels</a>
    <a href="#">Homestay</a>
  </div>

</nav>

<table>
<tr>
<td class="tag">
<pre><strong> "Better to see something once 
 than hear about it a thousand times" </strong></pre>
</td>
<td>
<table class="formtable">
<tr align="center">
<td>
<form action="#" method="get">
  <div class="container">
<label>Place:</label>
<input type="text" name="place" placeholder="Place">

<label>Check-in:</label>
<input type="date" name="check in" placeholder="Check-in">

<label>Check-out:</label>
<input type="date" name="check out" placeholder="Check-out">

<button type="submit" value="Book">Book</button>

</form>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>

</html>