<%- include('header')  %>

<body background="/img/image.jpg"></body>
    
    <table>
    <tr>
    <td class="tag">
    <pre><strong> "Better to see something once 
     than hear about it a thousand times" </strong></pre>
    </td>
    
    
    </table>
    </td>
    </tr>
    </table>

<%- include('footer')  %>