<%- include('header')  %>

<p style="text-align:center;background-color:pink;" face = "Comic sans MS"  >HOTELS and RESORTS</p>
<p>
<font color="black" size="4"><a href="https://www.ktdc.com/"><u>KTDC HOTELS and RESORTS</u></a></font></p>
<p>
<a href="https://www.ktdc.com/">
<img border="0" src="/img/water.jpg" width="350" height="200"/>
</a>
 <a href="https://www.ktdc.com/">
<img border="0" src="/img/samudra.jpg" width="300" height="200"/>
</a>
<a href="https://www.ktdc.com/">
<img border="0" src="/img/samudra1.png" width="300" height="200"/>
</a>
<a href="https://www.ktdc.com/">
<img border="0" src="/img/index.jpg" width="300" height="200"/>
</a>
</p>
<p>The Kerala Tourism Development Corporation (KTDC) is a public sector undertaking that conducts and regulates the tourism activities in the Indian state of Kerala.
 The KTDC is headquartered at Thiruvananthapuram and has offices across all the districts of Kerala. 
The agency also operates hotels, resorts, and tourist rest houses in key locations in the state. Its official slogan is "Official host to God's own country." 
It is one of the most profitable ventures of the Kerala government.

</p>
<a href="/book"> <button type="button" >Book</button></a>
<p>
<font color="black" size="4"><a href="http://www.sarovarhotels.com/"><u>SAROVAR HOTELS and RESORTS</u></a></font></p>


<table class="hotel">
  <tbody>
  <tr>
    <td>
<a href="http://www.sarovarhotels.com/">
<img border="0" src="/img/pic.jpg" width="350" height="200"/>
</a></td>
<td>
 <a href="http://www.sarovarhotels.com/">
<img border="0" src="/img/images.jpg" width="300" height="200"/>
</a></td>
<td><a href="http://www.sarovarhotels.com/">
<img border="0" src="/img/pic1.jpg" width="300" height="200"/>
</a></td>
<td>
<a href="http://www.sarovarhotels.com/">
<img border="0" src="/img/index1.jpg" width="350" height="200"/>
</a></td>
</td>
  </tr>
</tbody>
</table>
<p>
Every Sarovar hotel is designed to meet the contemporary requirements of today's traveller. From tech-enabled spaces to inspired design, from affordable luxury to chic boutiques, from value-driven essentials to pampered indulgence, over 75 hotels in 50 destinations in India and abroad promise you a stay that is delightful and memorable.
 Each property celebrates the unique essence of its destination to give you a personalised experience with a thoughtfulness you'll find only in the best hotels of the world.
</p>
<a href="/book"><button type="button" >Book</button></a>
<p>
<font color="black" size="4"><a href="https://vivanta.tajhotels.com/"><u>VIVANTA BY TAJ-HOTELS and RESORTS</u></a></font></p>
<p>
<a href="https://vivanta.tajhotels.com/">
<img border="0" src="/img/v.jpg" width="350" height="200"/>
</a>
 <a href="https://vivanta.tajhotels.com/">
<img border="0" src="/img/v1.jpg" width="300" height="200"/>
</a>
<a href="https://vivanta.tajhotels.com/">
<img border="0" src="/img/v2.jpg" width="280" height="200"/>
</a>

<a href="https://vivanta.tajhotels.com/">
<img border="0" src="/img/v3.jpg" width="350" height="200"/>
</a>
</p>
<p>
The brand Vivanta was born as a part of Taj Hotels Resorts and Palaces (also known as The Indian Hotels Company Limited) brand architecture exercise.
 With this the brand rolled over 19 of its hotels to the new brand. 
This brand architecture exercise was a part of their previous launch of The Gateway hotels which is marketed as an upscale brand.
</p>
<a><button type="button" >Book</button></a>


<%- include('footer')  %>